In [1]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib

# getting the players list

In [14]:
url = 'https://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=0&LeagueID=00&Season=2019-20'

headers = {'user-agent': ('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36'),
          'referer': 'http://stats.nba.com/players/'}

In [15]:
allplayers1 =  requests.get(url, headers= headers)

In [16]:
allplayers2 = allplayers1.json()
allplayers3 = allplayers2['resultSets'].copy()
allplayers4 = allplayers3[0].copy()

In [17]:
headerlist = allplayers4['headers']
dfplayerlist = pd.DataFrame.from_dict(allplayers4['rowSet'])

In [18]:
dfplayerlist.columns = headerlist

In [19]:
dfplayerlist.head(50)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y,00
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y,00
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,0,,,,,Y,00
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,,,,,Y,00
5,949,"Abdur-Rahim, Shareef",Shareef Abdur-Rahim,0,1996,2007,shareef_abdur-rahim,0,,,,,Y,00
6,76005,"Abernethy, Tom",Tom Abernethy,0,1976,1980,HISTADD_tom_abernethy,0,,,,,Y,00
7,76006,"Able, Forest",Forest Able,0,1956,1956,HISTADD_frosty_able,0,,,,,Y,00
8,76007,"Abramovic, John",John Abramovic,0,1946,1947,HISTADD_brooms_abramovic,0,,,,,Y,00
9,203518,"Abrines, Alex",Alex Abrines,0,2016,2018,alex_abrines,0,,,,,Y,00
10,101165,"Acker, Alex",Alex Acker,0,2005,2008,alex_acker,0,,,,,Y,01
11,76008,"Ackerman, Donald",Donald Ackerman,0,1953,1953,HISTADD_buddy_ackerman,0,,,,,Y,00
12,76009,"Acres, Mark",Mark Acres,0,1987,1992,HISTADD_mark_acres,0,,,,,Y,00
13,76010,"Acton, Charles",Charles Acton,0,1967,1967,HISTADD_bud_acton,0,,,,,Y,00
14,203112,"Acy, Quincy",Quincy Acy,0,2012,2018,quincy_acy,0,,,,,Y,01
15,76011,"Adams, Alvan",Alvan Adams,0,1975,1987,HISTADD_alvan_adams,0,,,,,Y,00
16,76012,"Adams, Don",Don Adams,0,1970,1976,HISTADD_don_adams,0,,,,,Y,00
17,200801,"Adams, Hassan",Hassan Adams,0,2006,2008,hassan_adams,0,,,,,Y,00
18,1629121,"Adams, Jaylen",Jaylen Adams,0,2018,2018,jaylen_adams,0,,,,,Y,11
19,203919,"Adams, Jordan",Jordan Adams,0,2014,2015,jordan_adams,0,,,,,Y,01
20,149,"Adams, Michael",Michael Adams,0,1985,1995,michael_adams,0,,,,,Y,00
21,203500,"Adams, Steven",Steven Adams,1,2013,2019,steven_adams,1610612760,Oklahoma City,Thunder,OKC,thunder,Y,00
22,912,"Addison, Rafael",Rafael Addison,0,1986,1996,rafael_addison,0,,,,,Y,00
23,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2019,bam_adebayo,1610612748,Miami,Heat,MIA,heat,Y,00
24,1629061,"Adel, Deng",Deng Adel,0,2018,2018,deng_adel,0,,,,,Y,11
25,76015,"Adelman, Rick",Rick Adelman,0,1968,1974,HISTADD_rick_adelman,0,,,,,Y,00
26,202399,"Adrien, Jeff",Jeff Adrien,0,2010,2014,jeff_adrien,0,,,,,Y,01
27,201167,"Afflalo, Arron",Arron Afflalo,0,2007,2017,arron_afflalo,0,,,,,Y,00
28,200772,"Ager, Maurice",Maurice Ager,0,2006,2010,maurice_ager,0,,,,,Y,01
29,76016,"Aguirre, Mark",Mark Aguirre,0,1981,1993,HISTADD_mark_aguirre,0,,,,,Y,00
30,201336,"Ahearn, Blake",Blake Ahearn,0,2007,2011,blake_ahearn,0,,,,,Y,01
31,76017,"Ainge, Danny",Danny Ainge,0,1981,1994,HISTADD_danny_ainge,0,,,,,Y,00
32,201582,"Ajinca, Alexis",Alexis Ajinca,0,2008,2017,alexis_ajinca,0,,,,,Y,01
33,76018,"Akin, Henry",Henry Akin,0,1966,1967,HISTADD_henry_akin,0,,,,,Y,00
34,203006,"Akognon, Josh",Josh Akognon,0,2012,2012,josh_akognon,0,,,,,Y,01
35,1629152,"Akoon-Purcell, DeVaughn",DeVaughn Akoon-Purcell,0,2018,2018,devaughn_akoon-purcell,0,,,,,Y,11
36,202374,"Alabi, Solomon",Solomon Alabi,0,2010,2011,solomon_alabi,0,,,,,Y,01
37,76019,"Alarie, Mark",Mark Alarie,0,1986,1990,HISTADD_mark_alarie,0,,,,,Y,00
38,76020,"Alcorn, Gary",Gary Alcorn,0,1959,1960,HISTADD_gary_alcorn,0,,,,,Y,00
39,203128,"Aldemir, Furkan",Furkan Aldemir,0,2014,2014,furkan_aldemir,0,,,,,Y,00
40,202332,"Aldrich, Cole",Cole Aldrich,0,2010,2017,cole_aldrich,0,,,,,Y,01
41,200746,"Aldridge, LaMarcus",LaMarcus Aldridge,1,2006,2019,lamarcus_aldridge,1610612759,San Antonio,Spurs,SAS,spurs,Y,00
42,76021,"Aleksinas, Chuck",Chuck Aleksinas,0,1984,1984,HISTADD_chuck_aleksinas,0,,,,,Y,00
43,1626146,"Alexander, Cliff",Cliff Alexander,0,2015,2015,cliff_alexander,0,,,,,Y,01
44,724,"Alexander, Cory",Cory Alexander,0,1995,2004,cory_alexander,0,,,,,Y,00
45,2042,"Alexander, Courtney",Courtney Alexander,0,2000,2003,courtney_alexander,0,,,,,Y,00
46,76022,"Alexander, Gary",Gary Alexander,0,1993,1993,HISTADD_gary_alexander,0,,,,,Y,00
47,201570,"Alexander, Joe",Joe Alexander,0,2008,2009,joe_alexander,0,,,,,Y,01
48,2349,"Alexander, Victor",Victor Alexander,0,1991,2001,victor_alexander,0,,,,,Y,00
49,1629638,"Alexander-Walker, Nickeil",Nickeil Alexander-Walker,1,2019,2019,nickeil_alexander-walker,1610612740,New Orleans,Pelicans,NOP,pelicans,Y,00

In [20]:
dfplayerlist.shape

(4489, 14)

In [21]:
dfplayerlist.keys()

Index(['PERSON_ID', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FIRST_LAST',
       'ROSTERSTATUS', 'FROM_YEAR', 'TO_YEAR', 'PLAYERCODE', 'TEAM_ID',
       'TEAM_CITY', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE',
       'GAMES_PLAYED_FLAG', 'OTHERLEAGUE_EXPERIENCE_CH'],
      dtype='object')

In [23]:
dfplayerlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4489 entries, 0 to 4488
Data columns (total 14 columns):
PERSON_ID                    4489 non-null int64
DISPLAY_LAST_COMMA_FIRST     4489 non-null object
DISPLAY_FIRST_LAST           4489 non-null object
ROSTERSTATUS                 4489 non-null int64
FROM_YEAR                    4489 non-null object
TO_YEAR                      4489 non-null object
PLAYERCODE                   4488 non-null object
TEAM_ID                      4489 non-null int64
TEAM_CITY                    4489 non-null object
TEAM_NAME                    4489 non-null object
TEAM_ABBREVIATION            4489 non-null object
TEAM_CODE                    4489 non-null object
GAMES_PLAYED_FLAG            4489 non-null object
OTHERLEAGUE_EXPERIENCE_CH    4489 non-null object
dtypes: int64(3), object(11)
memory usage: 491.1+ KB

In [30]:
dfplayerlist.loc[dfplayerlist['TEAM_NAME'] == 'Bulls']

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
118,1627853,"Arcidiacono, Ryan",Ryan Arcidiacono,1,2017,2019,ryan_arcidiacono,1610612741,Chicago,Bulls,CHI,bulls,Y,01
651,1628976,"Carter Jr., Wendell",Wendell Carter Jr.,1,2018,2019,wendell_carter_jr,1610612741,Chicago,Bulls,CHI,bulls,Y,00
1075,1627739,"Dunn, Kris",Kris Dunn,1,2016,2019,kris_dunn,1610612741,Chicago,Bulls,CHI,bulls,Y,00
1211,1626245,"Felicio, Cristiano",Cristiano Felicio,1,2015,2019,cristiano_felicio,1610612741,Chicago,Bulls,CHI,bulls,Y,01
1328,1629655,"Gafford, Daniel",Daniel Gafford,1,2019,2019,daniel_gafford,1610612741,Chicago,Bulls,CHI,bulls,Y,11
1657,1627885,"Harrison, Shaquille",Shaquille Harrison,1,2017,2019,shaquille_harrison,1610612741,Chicago,Bulls,CHI,bulls,Y,01
1878,1628990,"Hutchison, Chandler",Chandler Hutchison,1,2018,2019,chandler_hutchison,1610612741,Chicago,Bulls,CHI,bulls,Y,00
2242,1628436,"Kornet, Luke",Luke Kornet,1,2017,2019,luke_kornet,1610612741,Chicago,Bulls,CHI,bulls,Y,01
2283,203897,"LaVine, Zach",Zach LaVine,1,2014,2019,zach_lavine,1610612741,Chicago,Bulls,CHI,bulls,Y,00
2509,1628374,"Markkanen, Lauri",Lauri Markkanen,1,2017,2019,lauri_markkanen,1610612741,Chicago,Bulls,CHI,bulls,Y,00
2773,1629690,"Mokoka, Adam",Adam Mokoka,1,2019,2019,adam_mokoka,1610612741,Chicago,Bulls,CHI,bulls,Y,11
3209,203490,"Porter Jr., Otto",Otto Porter Jr.,1,2013,2019,otto_porter jr.,1610612741,Chicago,Bulls,CHI,bulls,Y,00
3519,203107,"Satoransky, Tomas",Tomas Satoransky,1,2016,2019,tomas_satoransky,1610612741,Chicago,Bulls,CHI,bulls,Y,00
3844,1629622,"Strus, Max",Max Strus,1,2019,2019,max_strus,1610612741,Chicago,Bulls,CHI,bulls,Y,11
4059,1627756,"Valentine, Denzel",Denzel Valentine,1,2016,2019,denzel_valentine,1610612741,Chicago,Bulls,CHI,bulls,Y,11
4246,1629632,"White, Coby",Coby White,1,2019,2019,coby_white,1610612741,Chicago,Bulls,CHI,bulls,Y,00
4466,201152,"Young, Thaddeus",Thaddeus Young,1,2007,2019,thaddeus_young,1610612741,Chicago,Bulls,CHI,bulls,Y,00

In [29]:
dfplayerlist['TEAM_NAME'].value_counts()

                 3987
Nets               18
Grizzlies          17
Wizards            17
Pistons            17
76ers              17
Knicks             17
Bulls              17
Kings              17
Bucks              17
Spurs              17
Raptors            17
Lakers             17
Jazz               17
Pelicans           17
Mavericks          17
Pacers             17
Hawks              17
Hornets            17
Celtics            17
Clippers           17
Timberwolves       17
Thunder            16
Rockets            16
Suns               16
Nuggets            16
Warriors           16
Magic              16
Trail Blazers      16
Heat               16
Cavaliers          16
Name: TEAM_NAME, dtype: int64

In [33]:
dfplayerlist['TEAM_NAME'].unique()

array(['', 'Thunder', 'Heat', 'Spurs', 'Pelicans', 'Grizzlies', 'Nets',
       'Knicks', 'Magic', 'Bucks', 'Lakers', 'Trail Blazers', 'Raptors',
       'Bulls', 'Kings', 'Suns', 'Hornets', 'Mavericks', 'Nuggets',
       'Timberwolves', 'Wizards', 'Hawks', 'Clippers', 'Pacers', 'Jazz',
       '76ers', 'Pistons', 'Warriors', 'Celtics', 'Rockets', 'Cavaliers'],
      dtype=object)